*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #680c82;
}

img{
    margin-top: 25px;
    padding: 0rem;
    width: 100%;
}

h1{
    background-color: #f2aa02;
    color: #bc0ec2;
    margin-bottom: .75 rem;
}
ul{
    color: #bc0ec2;
    background-color: #f2aa02;
    margin-right: 900px;

    
}
li{
    margin-left: 20px ;
}
h4{
    color: #bc0ec2;
    background-color: #f2aa02;
    margin-right: 900px;
    height: 35px;
}
